apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory-app # must be same as metadata.labels.app from deployment
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 4002

