apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-app # must be same as metadata.labels.app from deployment
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 4001

