apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq

spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1 # Start 1 new pod before killing the old one (Create the new pod first)
      maxUnavailable: 0 # Never allow more than 0 pod to be down (DO NOT kill the old pod until the new one is 'Ready')

  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - image: rabbitmq:4.1.0-management-alpine
          name: rabbitmq
          ports:
            - containerPort: 5672
            - containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_USER

            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_PASS

            - name: RABBITMQ_MANAGEMENT_PATH_PREFIX
              value: "/rabbitmq"

          readinessProbe:
            tcpSocket:
              port: 5672
            initialDelaySeconds: 20
            periodSeconds: 5

          livenessProbe:
            tcpSocket:
              port: 5672
            initialDelaySeconds: 60
            periodSeconds: 20

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"

          volumeMounts:
            - name: rabbitmq-persistent-storage
              mountPath: /var/lib/rabbitmq
      volumes:
        - name: rabbitmq-persistent-storage
          persistentVolumeClaim:
            claimName: rabbitmq-pv-claim

