- name: Update apt cache
  apt:
    update_cache: yes
    force_apt_get: yes

- name: Install necessary dependencies
  apt:
    name:
      - curl
      - wget
      - apt-transport-https
      - ca-certificates
      - gettext-base   # provides envsubst
    state: present