- name: Install necessary dependencies
  apt:
    name:
      - curl
      - wget
      - unzip
      - apt-transport-https
      - ca-certificates
    state: present

- name: Check if AWS CLI is installed
  command: aws --version
  register: aws_cli_check
  ignore_errors: yes
  changed_when: false

- name: Install AWS CLI v2 if missing
  block:
    - name: Download AWS CLI
      get_url:
        url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
        dest: /tmp/awscliv2.zip

    - name: Unarchive AWS CLI
      unarchive:
        src: /tmp/awscliv2.zip
        dest: /tmp
        remote_src: yes

    - name: Run installer
      command: /tmp/aws/install --update
      become: yes
  when: aws_cli_check.rc != 0