apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rabbitmq-ingress
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/rabbitmq$ /rabbitmq/ permanent;
spec:
  ingressClassName: nginx
  rules:
    - host: {{ alb_dns_name }}
      http:
        paths:
          - path: /rabbitmq
            pathType: Prefix
            backend:
              service:
                name: rabbitmq-service
                port:
                  number: 15672