apiVersion: v1
kind: Service
metadata:
  name: notification-service
spec:
  selector:
    app: notification-app # must be same as metadata.labels.app from deployment
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 4003

