name: Deploy Auto Scaler

on:
  workflow_run:
    workflows: ["K3s deployment using Ansible"]
    types:
      - completed

jobs:
  deploy-autoscaler:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m venv infra/venv
          
          # Call pip directly from the venv folder
          infra/venv/bin/pip install --upgrade pip
          infra/venv/bin/pip install -r infra/requirements.txt

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Pulumi login
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: pulumi login

      - name: Pulumi Sync and Deploy - Autoscaler
        env:
          PULUMI_PYTHON_CMD: ../../venv/bin/python
        run: |
          pulumi stack select dev --cwd infra/k3s-cluster/worker
          pulumi refresh --yes --cwd infra/k3s-cluster/worker
          pulumi up --yes --cwd infra/k3s-cluster/worker
